{% extends "base.html" %}
{% load static %}
{% block title %}Follower List{% endblock %}
{% block content %}
    <h1 class="uk-margin-top uk-margin-left">フォロワー一覧</h1>

    <div class="uk-flex uk-flex-wrap uk-flex-center">
        {% if follower_list %}
            {% for follower in follower_list %}
            <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
                <p>{{ follower.user.username }}</p>
                <img class="user-icon margin-auto" data-src="{{ follower.user.image_icon.url }}" width="100px" height="100px" alt="profile-icon" uk-img>
                <a href="{% url 'user:detail' follower.user.id %}" class="uk-button uk-button-primary uk-width-1-1">詳細</a>
            </div>
            {% endfor %}
        {% else %}
            <p>フォローされているユーザーはいません。</p>
        {% endif %}
    </div>
{% endblock %}