
{% extends "base.html" %}
{% load static %}
{% block title %}コード編集{% endblock %}
{% block content %}
    <h1>プレイグランド：編集</h1>
    {% comment %} 情報エリア {% endcomment %}
    <div>
        <div class="uk-flex uk-flex-right uk-card uk-card-default uk-margin-bottom">
            <div class="uk-flex uk-flex-left uk-width-4-5">
                <label for="code-name" class="uk-width-1-5 uk-margin-top uk-margin-bottom">コード名: </label>
                <input 
                    id="edit-code-name" 
                    class="uk-input uk-width-4-5 uk-margin-top uk-margin-bottom" 
                    type="text" name="code-name" value="{{ code.name }}"
                >
            </div>
            <div>
                <button 
                    class="uk-button uk-button-primary uk-margin-right uk-margin-top uk-margin-bottom" 
                    onclick="updateEditPost({{ code.id }})"
                >保存</button>
            </div>
        </div>
        <div class="uk-flex uk-flex-right uk-card uk-card-default uk-margin-bottom">
            <div>
                <button 
                    class="uk-button uk-button-primary uk-margin-right uk-margin-top uk-margin-bottom" 
                    onclick="runEditPost({{ code.id }})"
                >実行</button>
            </div>
        </div>
    </div>
    {% comment %} 実行エリア {% endcomment %}
    <div>
    <form action="" method="post">
        <table class="uk-width-1-1">
            <tbody>
                <tr>
                    <td>
                    <label for="code">コード</label>
                    </td>
                    <td>
                    <label for="result">実行結果</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="uk-flex uk-flex-right uk-card uk-card-default">
                            <div class="line-number">
                                <div>1</div>
                                <div>2</div>
                                <div>3</div>
                                <div>4</div>
                                <div>5</div>
                                <div>6</div>
                                <div>7</div>
                                <div>8</div>
                                <div>9</div>
                                <div>10</div>
                                <div>11</div>
                                <div>12</div>
                                <div>13</div>
                                <div>14</div>
                                <div>15</div>
                                <div>16</div>
                                <div>17</div>
                                <div>18</div>
                                <div>19</div>
                                <div>20</div>
                            </div>
                            <div class="uk-width-1-1">
                                <input type="hidden" name="code_id" value="{{ code_id }}" form="run save" />
                                <textarea 
                                    id="edit-code"
                                    class="uk-textarea uk-width-1-1  code-font" 
                                    name="code" value="" rows="20" style="resize: none;"
                                >{{ code.code }}</textarea>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="uk-flex uk-flex-right uk-card uk-card-default">
                            <textarea 
                                class="uk-textarea uk-width-1-1  code-font" 
                                name="result" value="" rows="20" style="resize: none;"
                            >{{ result }}</textarea>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/code.js' %}"></script>
{% endblock %}