
{% extends "base.html" %}
{% block title %}プレイグランド{% endblock %}
{% block content %}
    <h1>プレイグランド</h1>
    {% comment %} 情報エリア {% endcomment %}
    <div>
        <div class="uk-flex uk-flex-right uk-card uk-card-default uk-margin-bottom">
            <p class="uk-position-center">コード名:  コード_1</p>
            <div>
            <form action="{% url 'playground:run' %}" method="post" id="save">
            {% csrf_token %}
                <button class="uk-button uk-button-primary uk-margin-right" type="submit" value="true">保存</button>
            </form>
            </div>
        </div>
        <div class="uk-flex uk-flex-right uk-card uk-card-default uk-margin-bottom">
            <div>
            <form action="{% url 'playground:save' %}" method="post" id="run">
            {% csrf_token %}
                <button class="uk-button uk-button-primary uk-margin-right" type="submit" value="true">実行</button>
            </form>
            </div>
        </div>
    </div>
    {% comment %} 実行エリア {% endcomment %}
    <div>
    <form action="" method="post">
        <table class="uk-width-1-1">
            <tbody>
                <tr>
                    <td>
                    <label for="code">コード</label>
                    </td>
                    <td>
                    <label for="result">実行結果</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <textarea form="run save" class="uk-textarea uk-width-1-1" name="code" value="" rows="20" style="resize: none;">
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
fib(1000)</textarea>
                    </td>
                    <td>
                    <textarea class="uk-textarea uk-width-1-" name="result" value="" rows="20" style="resize: none;"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
{% endblock %}