{% extends "base.html" %}
{% load static %}
{% block title %}プレイグランド{% endblock %}
{% block content %}
    <h1>プレイグランド</h1>
    {% comment %} 情報エリア {% endcomment %}
    <div>
        <div class="uk-flex uk-flex-right uk-card uk-card-default uk-margin-bottom">
            <div class="uk-flex uk-flex-left uk-width-4-5">
                <label for="code-name" class="uk-width-1-5 uk-margin-top uk-margin-bottom">コード名: </label>
                <input 
                    id="index-code-name" 
                    class="uk-input uk-width-4-5 uk-margin-top uk-margin-bottom" 
                    type="text" name="code-name" placeholder="新規作成" value="{{ code_name }}"
                >
            </div>
            <div>
                <button 
                    class="uk-button uk-button-primary uk-margin-right  uk-margin-top uk-margin-bottom" 
                    onclick="savePost()"
                >保存</button>
            </div>
        </div>
        <div class="uk-flex uk-flex-right uk-card uk-card-default uk-margin-bottom">
            <div>
            <button 
                class="uk-button uk-button-primary uk-margin-right uk-margin-top uk-margin-bottom" 
                onclick="runPost()"
            >実行</button>
            </div>
        </div>
    </div>
    {% comment %} 実行エリア {% endcomment %}
    <div>
    <form action="" method="post">
        <table class="uk-width-1-1">
            <tbody>
                <tr>
                    <td>
                    <label for="code">コード</label>
                    </td>
                    <td>
                    <label for="result">実行結果</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <textarea 
                        id="index-code" 
                        class="uk-textarea uk-width-1-1  code-font" 
                        name="code" value="" rows="20" style="resize: none;"
                    >{{ code }}</textarea>
                    </td>
                    <td>
                    <textarea 
                        class="uk-textarea uk-width-1-1  code-font" 
                        name="result" value="" rows="20" style="resize: none;"
                    >{{ result }}</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}