
{% extends "base.html" %}
{% load static %}
{% block title %}問題{% endblock %}
{% block content %}
    <h1>プレイグランド</h1>
    {% comment %} 情報エリア {% endcomment %}
    <div>
        <div class="uk-card uk-card-default uk-margin-bottom">
            <div>
                <p class="uk-margin-top uk-margin-left">問題名</p>
                <p class="uk-margin-left">{{ question.name }}</p>
            </div>
            <div>
                <p class="uk-margin-left">問題文</p>
                <p class="uk-margin-bottom uk-margin-left">
                    {{ question.question_text }}
                </p>
                <input 
                    id="question-answer"
                    type="hidden" name="answer" 
                    value="{{ question.question_output }}" 
                />
            </div>
            <div class="uk-position-center-right">
                <button 
                    class="uk-button uk-button-primary uk-margin-right" 
                    onclick="runQuestionPost({{ question.id }})"
                >実行</button>
            </div>
        </div>
    </div>
    {% comment %} 実行エリア {% endcomment %}
    <div>
        <table class="uk-width-1-1">
            <tbody>
                <tr>
                    <td>
                    <label for="code">コード</label>
                    </td>
                    <td>
                    <label for="result">実行結果</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="uk-flex uk-flex-right uk-card uk-card-default">
                            <div class="line-number">
                                <div>1</div>
                                <div>2</div>
                                <div>3</div>
                                <div>4</div>
                                <div>5</div>
                                <div>6</div>
                                <div>7</div>
                                <div>8</div>
                                <div>9</div>
                                <div>10</div>
                                <div>11</div>
                                <div>12</div>
                                <div>13</div>
                                <div>14</div>
                                <div>15</div>
                                <div>16</div>
                                <div>17</div>
                                <div>18</div>
                                <div>19</div>
                                <div>20</div>
                            </div>
                            <div class="uk-width-1-1">
                                <textarea 
                                    id="question-code" 
                                    class="uk-textarea uk-width-1-1 code-font" 
                                    name="code" value="" rows="20" style="resize: none;"
                                >{{ question.default_code }}</textarea>
                            </div>
                    </td>
                    <td>
                        <div class="uk-flex uk-flex-right uk-card uk-card-default">
                            <textarea 
                                class="uk-textarea uk-width-1-1 code-font" 
                                name="result" value="" rows="20" style="resize: none;"
                            >{{ result }}</textarea>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/code.js' %}"></script>
{% endblock %}