
{% extends "base.html" %}
{% load static %}
{% block title %}問題{% endblock %}
{% block content %}
    <h1>プレイグランド</h1>
    {% comment %} 情報エリア {% endcomment %}
    <div>
        <div class="uk-card uk-card-default uk-margin-bottom">
            <div>
                <p class="uk-margin-top uk-margin-left">問題名</p>
                <p class="uk-margin-left">{{ question.name }}</p>
            </div>
            <div>
                <p class="uk-margin-left">問題文</p>
                <p class="uk-margin-bottom uk-margin-left">
                    {{ question.question_text }}
                </p>
                <input 
                    id="question-answer"
                    type="hidden" name="answer" 
                    value="{{ question.question_output }}" 
                />
            </div>
            <div class="uk-position-center-right">
                <button 
                    class="uk-button uk-button-primary uk-margin-right" 
                    onclick="runQuestionPost({{ question.id }})"
                >実行</button>
            </div>
        </div>
    </div>
    {% comment %} 実行エリア {% endcomment %}
    <div>
        <table class="uk-width-1-1">
            <tbody>
                <tr>
                    <td>
                    <label for="code">コード</label>
                    </td>
                    <td>
                    <label for="result">実行結果</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <textarea 
                        id="question-code" 
                        class="uk-textarea uk-width-1-1" 
                        name="code" value="" rows="20" style="resize: none;"
                    >{{ question.default_code }}</textarea>
                    </td>
                    <td>
                    <textarea 
                        class="uk-textarea uk-width-1-1" 
                        name="result" value="" rows="20" style="resize: none;"
                    ></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}