{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/uikit.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/basic.css' %}" rel="stylesheet">
    <link href="{% static 'css/bookmark.css' %}" rel="stylesheet">
    <link href="{% static 'css/friend.css' %}" rel="stylesheet">
    <link href="{% static 'css/playground.css' %}" rel="stylesheet">
    <link href="{% static 'css/question.css' %}" rel="stylesheet">
    <link href="{% static 'css/top.css' %}" rel="stylesheet">
    <link href="{% static 'css/user.css' %}" rel="stylesheet">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <title>{% block title %}pyGround{% endblock %}</title>
</head>
<body>
    {% comment %} ヘッダー {% endcomment %}
    <div uk-sticky class="uk-navbar-container uk-sticky uk-sticky-fixed">
        <nav class="uk-navbar-container" uk-navbar>

            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="{% url 'top:top' %}">pyGround</a>
            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                {% if login_user %}
                    <li><a href="{% url 'user:detail' login_user.id %}" class="uk-active uk-margin-left uk-margin-right uk-button uk-button-text uk-text-emphasis">{{ login_user.username }}</a></li>
                    <li><a class="uk-button uk-button-text uk-text-emphasis" href="{% url 'user:run_logout' login_user.id %}">ログアウト</a></li>
                    <li>
                        <a class="uk-margin-left uk-margin-right uk-button uk-button-text" href="#"><span uk-navbar-toggle-icon></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{% url 'playground:index' %}" class="uk-button uk-button-default">PlayGround</a></li>

                                <p class="uk-text-bold uk-text-primary">問題</p>
                                <li><a href="{% url 'question:questions' %}" class="uk-text-bold">問題一覧</a></li>
                                <li><a href="{% url 'question:manage' login_user.id %}" class="uk-text-bold">問題管理</a></li>

                                <p class="uk-text-bold uk-text-primary">フレンド</p>
                                <li><a href="{% url 'friend:follow' login_user.id %}" class="uk-text-bold">フォロー一覧</a></li>
                                <li><a href="{% url 'friend:follower' login_user.id %}" class="uk-text-bold">フォロワー一覧</a></li>
                                <li><a href="{% url 'friend:permit' login_user.id %}" class="uk-text-bold">フォロー申請一覧</a></li>

                                <p class="uk-text-bold uk-text-primary">ブックマーク</p>
                                <li><a href="{% url 'bookmark:index' login_user.id %}" class="uk-text-bold">ブックマーク一覧</a></li>

                                <p class="uk-text-bold uk-text-primary">ユーザー</p>
                                <li><a href="{% url 'user:index' %}" class="uk-text-bold">ユーザー一覧</a></li>
                                <li><a href="{% url 'user:detail' login_user.id %}" class="uk-text-bold">プロフィール</a></li>
                                <li><a href="{% url 'user:withdrawal' %}" class="uk-text-bold">退会</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                </ul>

            </div>

        </nav>
    </div>
    {% comment %} コンテンツ {% endcomment %}
    <div class="outer">
    <div class="main-contents">
    {% block content %}
    {{ content }}
    {% endblock %}
    </div>
    </div>
    {% comment %} フッター {% endcomment %}
</body>
</html>