
{% extends "base.html" %}
{% load static %}
{% block title %}Question Edit{% endblock %}
{% block content %}
<div class="flex-center flex-align">
    <div id="uc-div">
    <h1 class="uk-margin-top uk-margin-left">問題編集</h1>
    <div id="uc-form-area" class="uk-card uk-card-default uk-card-body">
    <form id="uc-form" action="{% url 'question:run_create' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ question_id }}" />
        <table id="uc-table">
            <tbody>
                <tr>
                    <td><label for="username">クエスチョンID</label></td>
                    <td>
                        1
                        <input class="uk-input" type="hidden" name="question_id" value="" size="50"/>
                    </td>
                </tr>
                <tr>
                    <td><label for="question_name">問題名</label></td>
                    <td><input class="uk-input" type="text" name="question_name" value="" size="50"/></td>
                </tr>
                <tr>
                    <td><label for="question_text">問題文</label></td>
                    <td><textarea class="uk-textarea" name="question_text" value="" rows="4" size="50"></textarea></td>
                </tr>
                <tr>
                    <td><label for="question_ans">答え</label></td>
                    <td><textarea class="uk-textarea" name="question_ans" value="" rows="4" size="50"></textarea></td>
                </tr>
            </tbody>
        </table>
        <button class="uk-button uk-button-primary" type="submit" value="true">登録</button>
    </form>
    </div>

    </div>
</div>
{% endblock %}