
{% extends "base.html" %}
{% load static %}
{% block title %}Question List{% endblock %}
{% block content %}
    <h1 class="uk-margin-top uk-margin-left">問題一覧</h1>

    <div class="uk-flex uk-flex-wrap uk-flex-center">
        {% if question_list %}
            {% for question in question_list %}
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
                    <p>{{ question.name }}</p>

                    <a href="{% url 'question:detail' question.id %}" class="uk-button uk-button-primary uk-width-1-1">詳細</a>
                </div>
            {% endfor %}
        {% else %}
            <p>問題がありません。</p>
        {% endif %}
    </div>
{% endblock %}