{% extends "base.html" %}
{% load static %}
{% block title %}Bookmark List{% endblock %}
{% block content %}
    <h1 class="uk-margin-top uk-margin-left">ブックマーク一覧</h1>

    <div class="uk-flex uk-flex-wrap uk-flex-center">
        {% if bookmark_list %}
            {% for bookmark in bookmark_list %}
            <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
                <p>{{ bookmark.question.name }}</p>
                <a href="{% url 'question:detail' bookmark.question.id %}" class="uk-button uk-button-primary uk-width-1-1">詳細</a>
                <a href="{% url 'bookmark:release' bookmark.id %}" class="uk-button uk-button-primary uk-width-1-1">ブックマーク解除</a>
            </div>
            {% endfor %}
        {% else %}
            <p>ブックマークがありません。</p>
        {% endif %}
    </div>
{% endblock %}