{% extends "base.html" %}
{% load static %}
{% block title %}User Detail{% endblock %}
{% block content %}
    <h1 class="uk-margin-top uk-margin-left">プロフィール</h1>
    <a class="uk-button uk-button-primary" href="{% url 'user:index' %}">ユーザー一覧へ</a>
    {% if False %}
        <a class="uk-button uk-button-primary" href="{% url 'user:edit' 1 %}">フォローする</a>
    {% else %}
        <a class="uk-button uk-button-primary" href="{% url 'user:edit' 1 %}">編集する</a>
    {% endif %}
    <br />
    {% if False %}
        <img data-src="" width="200px" height="200px" alt="profile-icon" uk-img>
    {% else %}
        <img data-src="{% static 'img/user-icon.png' %}" width="200px" height="200px" alt="profile-icon" uk-img>
    {% endif %}
    <div>
    <h5>ユーザネーム</h5>
    <p>田中　太郎</p>
    </div>
    <div>
    <h5>メールアドレス</h5>
    <p>aaa@bbb.jp</p>
    </div>
    <div>
    <h5>プロフィール</h5>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div>
    <h5>フォロー</h5>
    <p>100人</p>
    </div>
    <div>
    <h5>フォロワー</h5>
    <p>100人</p>
    </div>
    <div>
    <h5>コード一覧</h5>
    <div class="uk-flex uk-flex-wrap uk-flex-center">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_1</p>
            <a href="{% url 'playground:edit' 1 %}" class="uk-button uk-button-primary">開く</a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_2</p>
            <a href="{% url 'playground:edit' 2 %}" class="uk-button uk-button-primary">開く</a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_3</p>
            <a href="{% url 'playground:edit' 3 %}" class="uk-button uk-button-primary">開く</a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_4</p>
            <a href="{% url 'playground:edit' 4 %}" class="uk-button uk-button-primary">開く</a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_5</p>
            <a href="{% url 'playground:edit' 5 %}" class="uk-button uk-button-primary">開く</a>
        </div>
    </div>
    </div>
{% endblock %}