{% extends "base.html" %}
{% load static %}
{% block title %}User Detail{% endblock %}
{% block content %}
<div class="flex-center">
    <h1 class="uk-margin-top uk-margin-left">プロフィール</h1>
    <div class="uk-card uk-card-default uk-card-body">
    <div id="ud-link">
        <a class="uk-button uk-button-primary" href="{% url 'user:index' %}">ユーザー一覧へ</a>
        {% if False %}
            <a class="uk-button uk-button-primary" href="{% url 'user:edit' 1 %}">フォローする</a>
        {% else %}
            <a class="uk-button uk-button-primary" href="{% url 'user:edit' 1 %}">編集する</a>
        {% endif %}
    </div>
    <br/>
    <div>
    {% if False %}
        <img class="user-icon" data-src="" width="200px" height="200px" alt="profile-icon" uk-img>
    {% else %}
        <img class="user-icon" data-src="{% static 'img/user-icon.png' %}" width="200px" height="200px" alt="profile-icon" uk-img>
    {% endif %}
    </div>
    <hr />
    <table id="ud-table">
    <tbody>
        <tr>
            <td class="ud-td" width="200" height="40">ユーザネーム</td>
            <td class="ud-td">田中　太郎</td>
        </tr>
        <tr>
            <td class="ud-td" width="200" height="40">メールアドレス</td>
            <td class="ud-td">aaa@bbb.jp</td>
        </tr>
        <tr>
            <td class="ud-td" width="200" height="100">プロフィール</td>
            <td class="ud-td">aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        </tr>
        <tr>
            <td class="ud-td" width="200" height="40">フォロー</td>
            <td class="ud-td">100人</td>
        </tr>
        <tr>
            <td class="ud-td" width="200" height="40">フォロー</td>
            <td class="ud-td">フォロワー</td>
        </tr>
    </tbody>
    </table>

    <hr />
    <div>
    <h5>コード一覧</h5>
    <div class="uk-flex uk-flex-wrap uk-flex-center">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_1</p>
            <a href="{% url 'playground:edit' 1 %}" class="uk-button uk-button-primary">開く</a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_2</p>
            <a href="{% url 'playground:edit' 2 %}" class="uk-button uk-button-primary">開く</a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_3</p>
            <a href="{% url 'playground:edit' 3 %}" class="uk-button uk-button-primary">開く</a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_4</p>
            <a href="{% url 'playground:edit' 4 %}" class="uk-button uk-button-primary">開く</a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-top uk-margin-bottom uk-margin-left   uk-margin-right">
            <p>code_5</p>
            <a href="{% url 'playground:edit' 5 %}" class="uk-button uk-button-primary">開く</a>
        </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}