{% extends "base.html" %}
{% block title %}User Edit{% endblock %}
{% block content %}
    <h1 class="uk-margin-top uk-margin-left">ユーザー編集</h1>
    <a class="uk-button uk-button-primary" href="{% url 'user:detail' user_id %}">プロフィール詳細へ</a>
    <form action="{% url 'user:run_create' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id }}" />
        <table>
            <tbody>
                <tr>
                    <td><label for="icon">プロフィール画像</label></td>
                    <td>
                        <div uk-form-custom="target: true">
                            <input type="file" name="icon">
                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="username">ユーザーネーム</label></td>
                    <td><input class="uk-input" type="text" name="username" value="" /></td>
                </tr>
                <tr>
                    <td><label for="password">パスワード</label></td>
                    <td><input class="uk-input" type="text" name="password" value="" /></td>
                </tr>
                <tr>
                    <td><label for="profile">プロフィール</label></td>
                    <td><textarea class="uk-textarea" name="profile" value="" rows="4"></textarea></td>
                </tr>
            </tbody>
        </table>
        <button class="uk-button uk-button-primary" type="submit" value="true">登録</button>
    </form>
{% endblock %}