{% extends "base.html" %}
{% block title %}User Login{% endblock %}
{% block content %}
<div class="flex-center flex-align">
    <div id="login-div">
    <h1 id="login-title" class="uk-margin-top uk-margin-left">ログイン</h1>
    <div id="login-form-area" class="uk-card uk-card-default uk-card-body">
    <form id="login-form" action="{% url 'user:run_login' %}" method="post">
        {% csrf_token %}
        <table  id="login-table">
            <tbody>
                <tr>
                    <td><label for="email">メールアドレス</label></td>
                    <td><input class="uk-input" type="email" name="email" value="" size="42"/></td>
                </tr>
                <tr>
                    <td><label for="password">パスワード</label></td>
                    <td><input class="uk-input" type="password" name="password" value="" size="42"/></td>
                </tr>
            </tbody>
        </table>
        <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="" value="">ログイン</button>
    </form>
    </div>

    </div>
</div>
{% endblock %}