{% extends "base.html" %}
{% load static %}
{% block title %}Withdrawal{% endblock %}
{% block content %}
<div id="withdrawal-div">
    <h1 id="withdrawal-title" class="uk-margin-top uk-margin-left">退会処理</h1>
    <p id="withdrawal-text">
    ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
    ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
    ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
    ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
    </p>
    <a id="withdrawal-link" class="uk-button uk-button-primary uk-width-1-1" href="{% url 'user:run_withdrawal' %}">退会する</a>
</div>
    
{% endblock %}